body{
    font-family: 'Oswald', sans-serif;
}
header{
    text-align: right;
    height: 130px;
    text-decoration: none;
    margin-top: 30px;
    padding-right: 100px;
}
header a{
    text-decoration: none;
    padding-right: 50px;
    font-size: 20px;
    color: black;
}
h1{
    font-size: 50px;
    margin: 0px;
}
h2{
    font-size: 40px;
    padding-top: 80px;
}
p{
    margin-bottom: 50px;
}
.name-highlight{
    color: rgb(255, 123, 0);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width  img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.service-area{
    margin-top: 0px;
    height: 300px;
    text-align: center;
    
    
}
.service-area h2{
    text-align: center;
    padding-top: 20px;
}

.service{
    margin-bottom: 0px;
    border: 3px solid rgb(235, 229, 229);
}
.description{
    padding-bottom: 440px;
}
.link-button{
    text-decoration: none;
    background-color: rgb(255, 94, 0);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
   
}
.projects{
    height: 700px;
    background-color: rgb(244, 244, 248);
    margin: 0px;
    padding-left: 180px;
}
.projects h2{
    text-align: center;
}
.one-third-width{
    width: 25%;
    float: left;
    margin-left: 2%;
    background-color: white;
    padding: 12px;
    border-radius: 10px;
    box-shadow:5px 5px 10px rgb(206, 215, 223);
}
.one-third-width img{
     width:100%;
}
.inquiry{
    background-image: url(images/image\ 6.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 100px 0 0 450px;
    height: 180px;
    width: 50%;
}
.inquiry-div{
    width: 50%;
    color: white;
    float: left;
    margin-top: 90px;
   }
.inquiry-div a{
    margin-left:250px;
    margin-top: 500px;
}
.inquiry-div h1{
    margin-left: 60px;
}
footer{
    text-align: center;
}
