body{
    font-family: 'Oswald', sans-serif;
}
header{
    text-align: right;
}
h1{
    font-size: 50px;
}

.name-highlight{
    color: orange;
}

.inquiry{
    background-image: url(images/image\ 6.png);
    text-align: center;
}